In [2]:
#Defining a tuple
tup1 = (4,8,9)
print(tup1)
print(type(tup1))

(4, 8, 9)
<class 'tuple'>

In [4]:
#tup with elements of different data types
tup2 = (4,5.0,'g')
print(tup2)
print(type(tup2))

(4, 5.0, 'g')
<class 'tuple'>

In [5]:
#how many elements in the tuple
len(tup2)

3

In [6]:
#accessing the elements
tup2[0]

4

In [8]:
tup2[-1]

'g'

In [10]:
tup2[:2]

(4, 5.0)

In [11]:
# what if we store more than one values in a variable using just commas to separate
var1 = 'gh'
print(var1,type(var1))

var2 = 4,5
print(var2,type(var2))

gh <class 'str'>
(4, 5) <class 'tuple'>

In [12]:
var3 = 4,6,'jk',6+5j
print(var3,type(var3))

(4, 6, 'jk', (6+5j)) <class 'tuple'>

In [13]:
#type casting
tup3 = tuple([4,8,9,'45'])
print(tup3,type(tup3))

(4, 8, 9, '45') <class 'tuple'>

In [14]:
#tuple is immutable

tup3[2] = 'new'

TypeError: 'tuple' object does not support item assignment

In [15]:
# what happens if we cast a string into a tuple
tup4 = tuple('Shefayet')
tup4

('S', 'h', 'e', 'f', 'a', 'y', 'e', 't')

In [16]:
tup4  = tuple('Shefayet','Taufiq')

TypeError: tuple expected at most 1 argument, got 2

In [18]:
tup4 = tuple(['Shefayet','Taufiq'])
print(tup4,type(tup4))

('Shefayet', 'Taufiq') <class 'tuple'>

When you’re defining tuples within more complicated expressions, it’s often necessary
to enclose the values in parentheses, as in this example of creating a tuple of
tuples:

In [19]:
tup5 = (3.4,3.6,3.8),(4,6)
print(tup5,type(tup5))

((3.4, 3.6, 3.8), (4, 6)) <class 'tuple'>

In [20]:
tup5 = (4,5,8),[4,8]
print(tup5,type(tup5))

((4, 5, 8), [4, 8]) <class 'tuple'>

In [21]:
tup5  = 8,'gh',(4,5)
print(tup5,type(tup5))

(8, 'gh', (4, 5)) <class 'tuple'>

In [22]:
tup5[2] = (4,5,8)

TypeError: 'tuple' object does not support item assignment

In [23]:
#If an object inside a tuple is mutable, such as a list, you can modify it in place:
tup6 = 5,8,[7,8],{id:20204024} # here I made a mistake,id should be 'id'
print(tup6,type(tup6))
tup6[2].append('Messi')
print(tup6)

(5, 8, [7, 8], {<built-in function id>: 20204024}) <class 'tuple'>
(5, 8, [7, 8, 'Messi'], {<built-in function id>: 20204024})

In [24]:
tup6[3]

{<function id(obj, /)>: 20204024}

In [25]:
type(tup6[3])

dict

In [26]:
tup6[3]['gender']  = 'female'

In [27]:
tup6

(5, 8, [7, 8, 'Messi'], {<function id(obj, /)>: 20204024, 'gender': 'female'})

In [28]:
tup6 = 5,8,[7,8],{'id':20204024}
print(tup6,type(tup6))

(5, 8, [7, 8], {'id': 20204024}) <class 'tuple'>

In [29]:
 tup6 = 5,8,[7,8],{ghghggh:20204024}
 print(tup6,type(tup6))

NameError: name 'ghghggh' is not defined

In [30]:
id?

In [31]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [32]:
tup6

(5, 8, [7, 8], {'id': 20204024})

In [36]:
tup6 = 5,8,[7,8],{'id':20204024}
tup6[2].remove(8)
tup6

(5, 8, [7], {'id': 20204024})

In [39]:
#You can concatenate tuples using the + operator to produce longer tuples:
tup7 = tup1 + tup2
print(tup1,tup2,tup7,sep = '\n')

(4, 8, 9)
(4, 5.0, 'g')
(4, 8, 9, 4, 5.0, 'g')

In [40]:
'''Multiplying a tuple by an integer, as with lists, 
has the effect of concatenating that many copies of the tuple:'''
tup7*2

(4, 8, 9, 4, 5.0, 'g', 4, 8, 9, 4, 5.0, 'g')

In [41]:
tup7

(4, 8, 9, 4, 5.0, 'g')

## Unpacking tuples

In [42]:
tup1

(4, 8, 9)

In [43]:
a,b,c = tup1

In [44]:
c

9

In [45]:
a,b,c,d = tup1

ValueError: not enough values to unpack (expected 4, got 3)

In [46]:
x,y = 4

TypeError: cannot unpack non-iterable int object

In [47]:
x,y = [4,5]

In [48]:
x

4

In [49]:
y

5

In [50]:
x,y = [5]

ValueError: not enough values to unpack (expected 2, got 1)

In [52]:
#Even sequences with nested tuples can be unpacked:
tup8  = 5,8,('hello','world')
a,b,(c,d) = tup8
c

'hello'

In [53]:
a,b,c,d = tup8

ValueError: not enough values to unpack (expected 4, got 3)

In [54]:
# Swaping variable names
a,b = 1,2
print(f"a is {a} and b is {b}")
a,b  = b,a
print(f"Now a is {a} and b is {b}")

a is 1 and b is 2
Now a is 2 and b is 1

In [55]:
# Swaping variable names
a,b = 1,2
print(f"a is {a} and b is {b}")
b,a = a,b
print(f"Now a is {a} and b is {b}")

a is 1 and b is 2
Now a is 2 and b is 1

A common use of variable unpacking is iterating over sequences of tuples or lists:

In [57]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print(f"a is {a}\nb is {b}\nc is {c}\n")

a is 1
b is 2
c is 3

a is 4
b is 5
c is 6

a is 7
b is 8
c is 9

In [59]:
a,b,c =seq[0] 
print(a)

1

There are some situations where you may want to “pluck” a few elements from the
beginning of a tuple. There is a special syntax that can do this, *rest, which is also
used in function signatures to capture an arbitrarily long list of positional arguments:

In [60]:
color = 'red','green','blue','violet','orange','white','black'
a,b,*rest = color
print(a,b,rest,sep = '\n')

red
green
['blue', 'violet', 'orange', 'white', 'black']

In [61]:
rest

['blue', 'violet', 'orange', 'white', 'black']

In [62]:
type(rest)

list

In [63]:
color = 'red','green','blue'
a,b,*rest = color
print(a,b,rest,type(rest),sep = '\n')

red
green
['blue']
<class 'list'>

there is nothing special
about the rest name. As a matter of convention, many Python programmers will use
the underscore (_) for unwanted variables:

In [73]:
values = 1,2,3,4,5,6,7,8
a,b,*_ = values

In [68]:
a

1

In [69]:
b

2

In [75]:
_

[3, 4, 5, 6, 7, 8]

In [78]:
# count method
tup = (4,5,6)*10
print(tup,len(tup),tup.count(5),sep='\n')

(4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6)
30
10